html
  head
    style
      include ../style.css
      include ../css/languages.css
      include ../css/langCard.css
      include ../css/bioCard.css

    title Hire me test
  body
  div.quizzes
    row
      h2 Which test do you want to take?

    row
      each val in listOfQuizzes
        div.langCard
          a(href='quiz/' + val) #{val}
            // We indent this so that the image is a link
            img(src='/img/' + val + '.png')

  div.bios
    h2 #{body}
      include bioCard.pug
      each val, index in person1
        .bioCard= val
      each val, index in person2
        .bioCard= val
      each val, index in person3
        .bioCard= val


    // to target the nameand stuff you are going to have to do it the long way h1=person1.name
    // p=person.bio

