html
  head
    style
      include ../style.css
      include ../css/languages.css
      include ../css/langCard.css
      include ../css/us.css
    title Hire me test
  body
  div.quizzes
    row
      h2 Which test do you want to take?

    row
      each val in listOfQuizzes
        div.langCard
          a(href='quiz/' + val) #{val}
            // We indent this so that the image is a link
            img(src='/img/' + val + '.png')

  div.bios
    row
      h2 #{body}
    row
      div.us
        p= person1.name + ": " + person1.bio + ' ' + person1.contact + ' ' + person1.avatar
        p= person2.name + ": " + person2.bio + ' ' + person2.contact + ' ' + person2.avatar
        p= person3.name + ": " + person3.bio + ' ' + person3.contact + ' ' + person3.avatar
