div.aQuestion

    h3= i.id
        span :
        span= i.question

    each answer, index in i.answers
          label
            input(id="i", type="radio", name=`${i.answers}`, value=0, checked="", visibility="hidden")
            div#answer= answer


          // input(id="i", type="radio", name=`${i.answers}`, value=0, checked="")
          // label(for="i")
