div.aQuestion
    //- p=

    h1= i.id
        span :
        span= i.question

    div.answer= i.answer1
      // input(type='radio', name='answerBoxes_', value='1')#answer1


    div.answer= i.answer2
      // input(type='radio', name='answerBoxes_', value='2')#answer2


    div.answer= i.answer3
      // input(type='radio', name='answerBoxes_', value='3')#answer3


    div.answer= i.answer4
      // input(type='radio', name='answerBoxes_', value='4')#answer4
