div.resultPage
  include header.pug

  div.result
      div.card-image
          //- img(src="https://images.unsplash.com/photo-1532884928231-ef40895eb654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1633&q=80")
      h2=`You get ${percentageCorrect}%, awesome!`

  div.end
      each answer, question in responseBody
        div.corrections
          p= `Question: ${question}`
          div.yourAnswer
            p(class=`${answer.class}`)= `Your Answer: ${answer.submitted}`
          div.correctAnswer
            p(class='correct')= `Correct Answer: ${answer.correct}`
            //p= `class: ${answer.class}`


  include againButton.pug
